<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- aside start -->
    <section class="aside">
      <div class="logo">
        <img src="../uploads/logo.png" alt="Logo" />
      </div>
      <div class="side_section">
        <ul>
          <li class="aside-area flex-icons">
            <img src="../uploads/home.png" alt="Home" class="icon-size" />
            <span class="aside-text">Home</span>
          </li>
          <li class="aside-area flex-icons">
            <img src="../uploads/search.png" alt="Search" class="icon-size" />
            <span class="aside-text">Search</span>
          </li>
          <li class="aside-area flex-icons">
            <img src="../uploads/compass.png" alt="Explore" class="icon-size" />
            <span class="aside-text">Explore</span>
          </li>
          <li class="aside-area flex-icons">
            <img src="../uploads/reel.png" alt="Reels" class="icon-size" />
            <span class="aside-text">Reels</span>
          </li>
          <li class="aside-area flex-icons">
            <img src="../uploads/chat.png" alt="Messages" class="icon-size" />
            <span class="aside-text">Messages</span>
          </li>
          <li class="aside-area flex-icons">
            <img
              src="../uploads/heart.png"
              alt="Notifications"
              class="icon-size"
            />
            <span class="aside-text">Notifications</span>
          </li>
          <a href="/addpost">
            <li class="aside-area flex-icons">
              <img src="../uploads/add.png" alt="Create" class="icon-size" />
              <span class="aside-text">Create</span>
            </li>
          </a>
          <a href="/logout">
            <li class="aside-area flex-icons">
              <img
                src="../uploads/turn-off.png"
                alt="logout"
                class="icon-size"
              />
              <span class="aside-text">Logout</span>
            </li>
          </a>
        </ul>
      </div>
    </section>
    <!-- aside end -->
  </body>
</html>
