<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="home">
      <!-- story start -->
      <div class="story-section">
        <ul class="story-list story-flex">
          <li class="story-item">
            <img
              src="../uploads/download-removebg-preview (1).png"
              class="story"
              alt="Story 1"
            />
          </li>
          <li class="story-item">
            <img
              src="../uploads/download-removebg-preview (1).png"
              class="story"
              alt="Story 1"
            />
          </li>
          <li class="story-item">
            <img
              src="../uploads/download-removebg-preview (1).png"
              class="story"
              alt="Story 1"
            />
          </li>
          <li class="story-item">
            <img
              src="../uploads/download-removebg-preview (1).png"
              class="story"
              alt="Story 1"
            />
          </li>
          <li class="story-item">
            <img
              src="../uploads/download-removebg-preview (1).png"
              class="story"
              alt="Story 1"
            />
          </li>
          <li class="story-item">
            <img
              src="../uploads/download-removebg-preview (1).png"
              class="story"
              alt="Story 2"
            />
          </li>
          <li class="story-item">
            <img
              src="../uploads/download-removebg-preview (1).png"
              class="story"
              alt="Story 3"
            />
          </li>
        </ul>
      </div>
      <!-- story end -->

      <!-- post-area start -->
      <div class="post-area">
        <div class="post-body">
          <div class="header story-flex">
            <div class="post-logo">
              <img
                src="../uploads/download-removebg-preview (1).png"
                alt="post-logo"
              />
            </div>
            <div class="post-profile">
              <span class="post-text">Smart Tech</span>
              <span class="post-text" style="opacity: 60%"> - 5d</span>
            </div>
          </div>
          <div class="post-img">
            <img src="../uploads/images.jpg" alt="" />
          </div>
          <div class="l-c-s">
            <div class="like story-flex">
              <img src="../uploads/heart.png" alt="like" />
              <img src="../uploads/chat.png" alt="comment" />
              <img src="../uploads/chat.png" alt="comment" />
            </div>

            <div class="likes-count" style="margin-top: 12px">
              <span class="post-text">30,000 likes</span>
            </div>

            <div class="dsc" style="margin-top: 10px">
              <p class="post-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              </p>
            </div>

            <div class="comments-count" style="margin-top: 5px">
              <span class="post-text" style="opacity: 70%"
                >View all 300 Comments</span
              >
            </div>
          </div>
        </div>
      </div>
      <!-- post-area end -->
    </section>
  </body>
</html>
