<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram || Login</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- main start -->
    <main style="height: 100vh" class="flex">
      <section class="login">
        <div class="login-body flex">
          <div class="login-logo">
            <img src="../uploads/logo.png" alt="" />
          </div>
          <form action="/forgot" method="post" class="flex">
            <input
              type="email"
              name="email"
              placeholder="Email"
              class="login-input"
              style="margin-top: -70px"
            />
            <a href="/loginPage"
              ><span class="post-text forgot">LoginPage..</span></a
            >
            <button type="submit" class="login-button">Submit</button>
          </form>
        </div>
      </section>
    </main>
    <!-- main end -->
  </body>
</html>
