<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram || Login</title> 
    <!-- css -->
     <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- main start -->
     <main style="height: 100vh;" class="flex">
        <section class="login">
            <div class="login-body flex">
                <div class="login-logo">
                    <img src="../uploads/logo.png" alt="">
                </div>
                <form action="/login" method="post" class="flex">
                    <input type="email" name="email" placeholder="Email" class="login-input">
                    <input type="password" name="password" placeholder="Password" class="login-input">
                    <a href="/forgotPage"><span class="post-text forgot">Forgot password?</span></a>
                    <button type="submit" class="login-button">Login</button>
                    <a href="/signPage" class="login-button"><button type="button" class="login-button" style="width: 100%; background: transparent; padding: 0px;">SignIn</button></a>
                </form>
            </div>
        </section>
     </main>
    <!-- main end -->
</body>
</html>
